body {
    background-image: url(../image/src/bkg.jpg);
}

.header {
    margin-left: auto; margin-right: auto;
    width: 450px;
    margin-top: 20px;
}

.header img {
    width: 64px;
    margin-right: -100px;
}

.header h1 {
    font-family: monospace;
    font-size: 50px;
    width: 358px;
    margin-left: auto; margin-right: auto;
    color: white;
}

.header p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 375px;
    margin-left: auto; margin-right: auto;
    font-size: 15px;
    color: white;
}

.header strong {
    color: yellow;
}

.about {
    margin-left: auto; margin-right: auto;
    width: 450px;
    padding: 10px;
    background-color: #353637;
}

.about h1 {
    font-family: monospace;
    margin-left: auto; margin-right: auto;
    width: 150px;
    color: yellow;
}

.about p {
    color: white;
}

.about strong {
    color: yellow;
}

.delivery {
    width: 450px;
    margin-left: auto; margin-right: auto;
    padding: 10px;
    margin-top: 10px;
    background-color: #353637;
}

.delivery h1 {
    font-family: monospace;
    margin-left: auto; margin-right: auto;
    width: 150px;
    color: yellow;
}

.ifood {
    width: 120px;
    height: 120px;
    margin-left: 40px;
}

.telefone {
    width: auto;
    height: auto;
    margin-left: 90px;
    border-radius: 30px;
}

#tel {
    width: 450px;
    margin-left: auto; margin-right: auto;
    padding: 10px;
    background-color: #343536;
}

#tel strong {
    font-family: monospace;
    font-size: 20px;
    color: yellow;
}

#tel p {
    font-size: 40px;
    color: white;
}

.popup {
    width: 450px;
    margin-left: auto; margin-right: auto;
    margin-top: 10px;
}

.end {
    margin-bottom: 10px;
}